@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Oswald');
/*font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;*/

body {
	margin:0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

.caja {
	width: 85%;
	height: 350px;
	background-color: #16a085;
	box-sizing: border-box;
	padding: 20px;
	color: whitesmoke;
	text-align: center;
	font-size: 1.2em;
	border-radius: 10px;
	margin: 0 auto;
	box-shadow: 2px 3px 2px #2c3e50;
	
}

.caja:hover{
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.icon {
	font-size: 3.6em;
	color: #f1c40f;
}

.anim1 {
	animation-name: mover;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}


.anim2 {
	position: relative;
	animation-name: fly;
	animation-duration: 10s;
	animation-iteration-count: 6;
	animation-direction: alternate;
	/*animation-delay: 3s;*/
}












/*ANIMACIONES*/
@keyframes mover {
	from {
		transform: rotateY(0);
	}
	
	to{
		transform: rotateY(360deg);
	}

}


@keyframes fly {
	0%{
		top: -50px;
		left: 0;
		transform: rotateZ(90deg);
		opacity: 0;
	}
	
	15%{
		top: 0;
		left: 0;
		transform: rotateZ(0);
		opacity: 1;
	}

	25%{
		top: 0;
		left: -200px;
		transform: rotateZ(0);
		opacity: 1;
	}

	35%{
		top: 0;
		left: 0;
		transform: rotateZ(0);
		opacity: 1;
	}

	40%{
		top: 0;
		left: -100px;
		transform: rotateZ(0);
		opacity: 1;
	}

	45%{
		top: 0;
		left: 0;
		transform: rotateZ(0);
		opacity: 1;
	}

	50%{
		top: 0;
		left: -200px;
		transform: rotateZ(0);
		opacity: 1;
	}

	60%{
		top: 0;
		left: 0;
		transform: rotateX(0);
		opacity: 1;
	}

	70%{
		top: 0;
		left: -200px;
		transform: rotateX(0);
		opacity: 1;
	}
	
	100%{
		top: 0;
		left: 250px;
		transform: rotateX(2160deg);
		opacity: 0;
	}

}
