@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Oswald');
/*font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;*/
body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

h1, h2 {text-align: center;}

h1 {
	font-size: 2.8em;
	color: #34495e;
}

h2 {
	font-size: 2em;
	color: #34495e;
}

.boton-viejo {
	width: 200px;
	background-color: #34495e;
	border: 5px solid #e74c3c;
	padding: 20px;
	text-align: center;
	font-size: 1.2em;
	color: white;
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
	text-decoration: none;
}

.boton-nuevo {
	width: 100%;
	padding: 20px;
	background-color: #64dd17;
	display: block;
	text-decoration: none;
	box-sizing: border-box;
	text-align: center;
	color: whitesmoke;
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: bold;
	border: 2px solid #aeea00;
	margin-bottom: 20px;
	box-shadow: 1px 2px 2px #37474f;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
}

.boton-nuevo:hover {
	background-color: transparent;
	color: #aeea00;
	box-shadow: 5px 5px 2px #37474f;
}

.azul {
	background-color: transparent;
	border-color: #2980b9;
	color: #2980b9;
}

.azul:hover{
	background-color: #3498db;
	color: whitesmoke;
}

.sprite {
	width: 84px;
	height: 84px;
	display: block;
	text-decoration: none;
	background-image: url(../image/sspice-social-gadget-sprite.png);
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
}

.sprite.flickr{background-position: -84px -84px;}
.sprite.flickr:hover{background-position: -84px -168px;}
.sprite.flickr:focus{background-position: -84px -252px;}