body {
	margin: 0;
	padding: 0;
	font-family: arial;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.caja {
	/*Propiedades de box*/
	width: 230px;
	height: 230px;
	background-color: #34495e;
	display: inline-block;
	padding: 20px;
	border: 10px solid #3498db;
	margin-bottom: 20px;
	box-sizing: border-box;
	/*Propiedades de texto*/
	color: whitesmoke;
	font-size: 80px;
	text-align: center;
	line-height: 170px;	
}

.borde {
	width: 230px;
	height: 230px;
	display: inline-block;
	margin-bottom: 20px;
}

.box {
	color: whitesmoke;
	font-size: 80px;
	text-align: center;
	background-color: #2980b9;
	line-height: 170px;
	padding: 20px;
	border: 10px dotted #34495e;
	border-radius: 50%;
}

.cajita {
	width: 240px;
	height: 240px;
	background-color: #e74c3c;
	color: whitesmoke;
	margin-bottom: 20px;
	font-size: 80px;
	text-align: center;
	padding: 20px;
	border: 10px solid #34495e;
	box-sizing: border-box;
	line-height: 180px;
	/*display: inline-block;*/
	float: left;
}

.triangulos{
	clear: both;
}

.tri {
	width: 0;
	height: 0;
	border-left: 160px solid transparent;
	border-right: 160px solid transparent;
	border-bottom: 320px solid #16a085;
	float: left;
	color: transparent;
}