.canvas {
	position: relative;
	width: 600px;
	height: 620px;
	/*border: 1px dotted black;*/
	margin: 0 auto;
}

.base {
	width: 300px;
	height: 350px;
	background-color: #3498db;
	position: absolute;
	bottom: 0;
	left: 25%;
}

.puerta {
	position: absolute;
	height: 120px;
	width: 60px;
	background-color: brown;
	bottom: 0;
	left: 40%;
}

.pomo {
	position: absolute;
	width: 12px;
	height: 12px;
	background-color: black;
	border-radius: 50%;
	right: 0;
	bottom: 40%;
}

.ventana {
	width: 80px;
	height: 80px;
	background-color: white;
	box-sizing: border-box;
	border: 7px solid brown;
	position: absolute;
}

#ven1 {
	top: 20%;
	left: 10%;
}

#ven2 {
	top: 20%;
	right: 10%;
}

.techo {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 160px solid transparent;
	border-right: 160px solid transparent;
	border-bottom: 220px solid brown;
	top: 50px;
    left: 140px;
}

.chimenea {
	width: 60px;
	height: 120px;
	position: absolute;
	background-image: url(../image/brick.jpg);
	top: 15%;
    left: 331px;
    z-index: -1;
}