@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Oswald');
/*font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;*/

body{
	font-family: 'Open Sans', sans-serif;
}

.container{
	width: 960px;
	margin: 0 auto;
}

.primera-clase{
	width: 80%;
	background-color: #34495e;
	padding: 20px;
	color: white;
	text-align: center;
	border-bottom: 10px solid #3498db;
	border-top: 10px dotted #3498db;
}

.primera-clase h1{
	font-size: 3em;
	color: #bdc3c7;
	text-transform: uppercase;
}

.primera-clase img{
	width: 200px;
	height: auto;
}

.primera-clase p {
	font-size: 14px;
	text-align: justify;
	font-style: italic;
}

#iden1{
	background-color: #8e44ad;
}

.segunda-clase {
	width: 350px;
	height: 400px;
	background-color: #16a085;
	color: whitesmoke;	
	margin-top: 20px;
	padding: 20px;
	border: 10px dashed #f1c40f;
}	

.segunda-clase a {
	font-size: 1.5em;
	color: #f1c40f;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

.segunda-clase p{
	font-size: 1.2em;
	text-align: center;
	line-height: 2em;
	font-family: 'Oswald', sans-serif;
}

.rojo {
	background-color: #e74c3c;
}

.rojo {
	background-color: blue;
}