@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Oswald');
/*font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
	color: #34495e;
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 2.8em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.4em;
}

.img-adaptable {
	max-width: 100%;
	display: block;
}

.img-redonda {
	border-radius: 50%;
}

.centrar-texto {
	text-align: center;
}

.centrar-img {
	margin: 0 auto;
	display: block;
}

.parallax {
	width: 100%;
	height: 100vh;
	background-image: url(../image/parallax1.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	position: relative;
}

.parallax h1 {
	background-color: rgba(236, 240, 241,.7);
	width: 200px;
	padding: 5px 25px;
	position: relative;
	top: 40vh;
	margin: 0 auto;
	border-radius: 15px;
	border: 1px solid rgba(52, 73, 94,1.0);
}

.banner {
	height: 200px;
}