@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Oswald');
/*font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: #eceff1;
}

nav {
	background-color: #263238;
	position: relative;
	text-align: center;
	width: 100%;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav > ul > li {
	float: left;
}

nav ul li a {
	text-decoration: none;
	display: block;
	color: #fff;
	padding: 10px 20px;
	transition: all .3s linear;
}

nav ul li a:hover {
	background-color: #00e5ff;
	color: #263238;
}

/*SUBMENU*/

nav ul li div {
	width: 100%;
	box-sizing: border-box;
	position: absolute;
	background-color: #34495e;
	left: 0;
	transition: all 600ms ease;

	visibility: hidden;
	opacity: 0;
	top: -200px;
	/*transform: rotateZ(0);	*/
	z-index: -1;
}

nav > ul > li:hover div {
	display: table;
	visibility: visible;
	opacity: 1;
	top: 42px;	
	/*transform: rotateZ(360deg);*/
}

nav ul li div ul {
	display: table-cell;
	box-sizing: border-box;
	width: 1%;
	border-right: 2px solid #2980b9;
}

nav ul li div ul:last-child{
	border: none;
}

nav ul li div ul .titulo {
	background-color: #546e7a;
}

nav ul li div ul .titulo a {
	padding: 20px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	font-size: 1.5em;
}

nav ul li div ul .titulo a:hover {
	background-color: transparent;
	color: #fff;
	cursor: default;
}

.icon {
	font-size: 1.4em;
	vertical-align: middle;
	transition: all .3s linear;
}

li:hover .icon {
	color: #ff6f00;
}