.caja {
	width: 200px;
	height: 200px;
	box-sizing: border-box;
	border: 10px solid #3498db;
	background-color: #2c3e50;
	color: whitesmoke;
	line-height: 160px;
	font-size: 40px;
	text-align: center;
	font-family: arial;
	margin-bottom: 20px;
}

#caja1{
	position: static;
}

#caja2{
	position: relative;
	top: 30px;
	left: 500px;
}

#caja3{
	position: absolute;
	top: 500px;
	left: 500px;
}

#caja4 {
	position: fixed;
	right: 0;
	bottom: 0;

}

#caja5 {
	position: relative;
}

.caja-peq{
	position: absolute;
	width: 60px;
	height: 60px;
	padding: 20px;
	line-height: 55px;
	background-color: #e74c3c;	
	top: 20px;
	left: 100%;

}